{
  "configuration": {
    "host" : "localhost",
    "port" : 9000,
    "endpoint": "paraview",
    "content": "",
    "proxy_file" : "C:/wamp64/bin/apache/apache2.4.33/proxy.txt",
    "sessionURL_" : "ws://${host}:${port}/ws",
    "sessionURL" : "ws://ryzen7:80/proxy?sessionId=${id}&path=ws",
    "timeout" : 30,
    "log_dir" : "C:/universal/VTK-build/logs/",
    "fields" : []
  },
  "resources" : [ {
  "host" : "localhost",
  "port_range" : [9001, 9999]
  } ],
  "properties" : {
    "python_exec": "C:/universal/VTK-build/bin/Release/vtkpython.exe",
    "app": "C:/universal/VTK-build/bin/Release/vtkw-server.py"
  },
  "apps": {
    "cone": {
        "cmd": [
            "${python_exec}", "${app}", "--port", "${port}", "--authKey", "${secret}"
        ],
        "ready_line" : "Starting factory"
    }
  }
}